[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-rest-passwordreset = "*"
python-dotenv = "*"
pillow = "*"
stripe = "*"
django-crontab = "*"
drf-extra-fields = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
startapp = "python manage.py startapp"
server = "python manage.py runserver"
makemigrations = "manage.py makemigrations"
migrate = "python manage.py migrate"
createsuperuser = "python manage.py createsuperuser"
